* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('/img/coffee-photo.jpg') center/cover;;
    height: 100vh; 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(155, 59, 15, 0.582);
    align-items: center;
    height: 100%;
   
    @media (min-width: 300px) {
        width: 100%;
        margin-left: 0;
    }

    @media (min-width: 700px) {
        width: 50%;
        margin-left: 25%;
    }

    @media (min-width: 1000px) {
        width: 40%;
        margin-left: 60%;
    }
}

.tittle {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 4rem;
    padding-bottom: 20%;
}

.description {
    text-align: center;
    color: white;
    padding-bottom: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.button {
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #c01212;
    color: white;
    padding: 2em;
    border: 1px solid white;
    border-radius: 10px;
}