* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    background-color: blue;
    color: white;
    padding: 2% 3%;
    justify-content: flex-start;
}

.links a {
    text-decoration: none;
    color: white;
}
.menuLogo {
    padding-right: 25px;
}

#menuHeader {
    font-size: 3rem;
}

.textNav {
    display: none;
}
.textNav.visible {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.article {
    padding: 2% 10%;
}

.article h2 {
    font-size: 2em;
    padding-bottom: 20px;
}

.article p {
    padding: 10px 0;
}

