* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 20%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.buy-button {
    background-color: red;
}

.btn-final {
    background-color: green;
}