
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    text-align: center;
    align-items: center;
    height: 100vh;
    padding: 0 20%;
}

.text {
    display: none;
    
}

.text.visible,
.main.unlocked .text {
    display: block;
}

.main img {
    width: 20%;
    height: auto;
}

.main.unlocked .padlockImage {
    opacity: 0.5;
}