* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import 'components/header';
@import 'components/plot';
@import 'components/images';
@import 'components/graphs';
@import 'components/cast';
@import 'components/gallery';
  

html {
    background-color: white;
    min-width: 100%;
    font-family: 'Montserrat', sans-serif;
}


 main {
     display: flex;
     flex-direction: column;
}

.container {
    width: 800px;
    margin: 0 auto;
}
