* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#exercise_fixed_box {
    position: fixed;
    left: 10%;
    top: 10%;
    height: 50px;
    width: 50px;
    background-color: green;
    color: white;

    transition: left 1s, top 3s;
  }

  #exercise_fixed_box.clicked {
    left: 90%;
    top: 90%;
    background-color: red;
    color: white;
  }

  #exercise_bg_box {
    padding: 2em;
    background-color: red;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;

    /* transition: all 2s cubic-bezier(0.85, 0, 0.15, 1); */
    transition: all 3s cubic-bezier(0, 0.55, 0.45, 1);
  }

  #exercise_bg_box.change {
    background-color: green;
    color: white;
    border: 25px dotted rebeccapurple;
    font-size: 3em;
    font-weight: bold;
    opacity: 0.8;
    padding: 20px 50px;
    width: 400px;
    height: 200px;
  }